.mc-button{
    font-family: 'Ropa Sans', sans-serif;
    background-color: #008542;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;

    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;

    padding: .8rem 1.5rem;

    font-weight: 900;
    transition: all 0.3s cubic-bezier(.87,.37,.14,.63);
    box-shadow:
    0px 4px 0px rgb(15, 77, 0),

    0px 8px 0px rgb(109, 109, 109),
    4px 8px 0px gray,
    -4px 8px 0px rgb(109, 109, 109);  
    
    transform: scale(1.4);
}


.mc-button:before {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    box-shadow:
    0 -4px hwb(108 0% 58% / 0.502) inset,
    0 4px rgb(100 253 31 / 99%) inset,
    -4px 0 rgb(100 253 31 / 50%) inset,
    4px 0 rgb(21 108 0 / 50%) inset;
    
}


.mc-button:active{
    transform: translateY(4px) scale(1.4);
    box-shadow:0px 0px 0px rgb(15, 77, 0),
    0px 5px 0px rgb(109, 109, 109),
    4px 5px 0px gray,
    -4px 5px 0px rgb(109, 109, 109);  
}

.mc-button:hover {
    background-color: #00984c;
}

