

.satis-button .hidden{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 4px 4px 0px 0px
}


.satis-button svg{ 
    position: absolute;
    height: 80px;
    width: 80px;

    top: 1px;
    left: 24%;
    transform: rotateX(5deg)
    
}

.satis-button{

    
    
    margin: 0px;
    padding: 0px;
      
    
    background: radial-gradient(circle, rgba(245,251,107,1) 40%, rgb(202, 150, 53) 100%);

    position: relative;
  
   
    border: 0px solid;
 


    border-radius: 4px 4px 0px 0px ;

    height: 80px;
    width: 120px;  

    box-shadow:
    0px 0px 5px rgba(255, 255, 255, 0),
    0px -2px 12px #f4f45500,
    0px 2px 40px #f4f45500,
    inset 0px 12px 20px 5px #f4f45500,
    inset 0px 12px 30px 0px rgb(202, 150, 53),
    inset 0px 12px 30px 0px rgb(202, 150, 53);
           
    transition: all 0.3s ease;
}

.satis-button::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    border-radius: 0px 0px 2px 2px ;

    height: 9px;
    width: 120px;  

    transform: translate(0px,9px) ;
    z-index: -1;
    background: radial-gradient(circle, #dfb457 40%, #c0973d 70%, #99551a 100%);

    transition: all 0.3s ease;
}



.frame{
    content: "";
    position: absolute;
    left: -01px;
    top: 8px;
    height: 81.5px;
    width: 120px;  
    padding: 0px 1px 0px 1px;
    z-index: -1;
    background:  #99551a 100%;
    border-radius: 4px 4px 2px 2px;
    
    box-shadow:
    inset 0px 0px 1px 1px rgb(0, 0, 0),
    0px 2px 4px 0px rgba(0, 0, 0, 0.726), 
    0px 2px 6px 0px rgba(38, 38, 38, 0.726), 
    0px 0px 0px 2px rgb(120, 120, 120), 
    0px -0px 0px 3px #9c937f, 
    0px 0px 0px 4px rgb(120, 120, 120),
    0px 2px 0px 4px  rgb(81, 81, 81),
    0px 5px 8px 1.5px  rgb(3, 3, 3);

}


.hug{
    position: relative;
}




.satis-button:active::after{
    transform: translate(0px,1px);
    height: 1px;
    background: radial-gradient(circle, rgb(251, 234, 107) 40%, rgb(202, 150, 53) 100%);
}

.satis-button:active{
    transform:translateY(8px);

    background: radial-gradient(circle, rgba(245,251,107,1) 40%, rgb(228, 182, 96) 100%);

    box-shadow:
    0px 0px 5px rgb(255, 255, 255),
    0px -2px 12px #f47f55,
    0px 2px 40px #f4f455b4,
    inset 0px 12px 20px 5px #f4f455,
    inset 0px 12px 30px 0px rgb(202, 150, 53),
    inset 0px 12px 30px 0px rgb(202, 150, 53);

}



.satis-button:active .botchine,
.satis-button:active .topchineB,
.satis-button:active .rchine,
.satis-button:active .lchine,
.satis-button:active .topchine {
background: radial-gradient(circle, rgba(246,228,194,0.5) 24%, rgb(227, 191, 94,0.5) 57%, rgba(151, 87, 57, 0.2)) 100%;
}



.satis-button .child{
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    width: 60px;
    height: 120%;
    top: 0;
    filter: blur(3px);
    transform: translateX(45px) skewX(-25deg);
}

.satis-button .child2{
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.167);
    width: 50px;
    height: 120%;
    top: 0;
    filter: blur(2px);
    transform: translateX(-40px) skewX(-25deg);
}

.satis-button .topchine ,.botchine ,.lchine ,.rchine ,.topchineB{
    content: "";
    display: block;
    position: absolute;

}

.satis-button .topchine{
   background: radial-gradient(circle, rgba(246,228,194,1) 44%, rgba(227,192,94,1) 94%, rgb(237, 187, 108) 100%);

   width: 100%;
   height: 3%;
   top: -0.3%;
   filter: blur(0.71px);
}

.satis-button .botchine{ 
   background: radial-gradient(circle, rgba(246,228,194,1) 24%, rgba(227,192,94,1) 57%, rgb(151, 86, 57)) 100%;

   width: 100%;
   height: 3%;
   bottom: -0.3%;
   filter: blur(0.8px);
}

.satis-button .lchine{

   background: linear-gradient(rgba(246, 228, 194, 0.53) 14%, rgba(227,192,94,1) 57%, rgb(151, 86, 57)) 100%;
   width: 2%;
   height: 100%;
   bottom: -0.3%;
   filter: blur(0.9px);
}

.satis-button .rchine{
   background: linear-gradient(rgba(246, 228, 194, 0.53) 14%, rgba(227,192,94,1) 57%, rgb(151, 86, 57)) 100%;

   width: 2%;
   height: 100%;
   bottom: -0.3%;
   right: 0px;
   filter: blur(0.9px);
}

.satis-button .topchineB{
   background: radial-gradient(circle, rgba(246,228,194,1) 34%, rgba(227,192,94,1) 57%, rgb(151, 86, 57)) 100%;

   width: 98.8%;
   left: 0.6px;
   height: 3%;
   bottom: -1%;
   filter: blur(0.6px);
}



